@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    ViewBag.Title = "博文详情";
}
<div class="meta">
    <h1 class="meta-tit">该去北上广哭，还是回小城市笑</h1>
    <p class="meta-info">发表：<a href="http://yispace.net/">美文网</a> &nbsp;&nbsp; 发表日期：2016-08-23 &nbsp;&nbsp; </p>
</div>

<!-- 广告代码2 -->

<div class="entry">
    <p>
        <img class="aligncenter size-full wp-image-42806"
             src="http://yispace.net/wp-content/uploads/2016/08/5616542.jpg" alt="该去北上广哭，还是回小城市笑" width="630"
             height="399"
             srcset="http://yispace.net/wp-content/uploads/2016/08/5616542.jpg 630w, http://yispace.net/wp-content/uploads/2016/08/5616542-300x190.jpg 300w, http://yispace.net/wp-content/uploads/2016/08/5616542-160x100.jpg 160w"
             sizes="(max-width: 630px) 100vw, 630px" />
    </p>
    <p>
        作者：果仁小姐<br />
        来源：青葱白纸（ID：qingcongbaizhi)
    </p>
    <p>1</p>
    <p>表妹即将大学毕业，问我这个过来人有什么干货分享。</p>
    <p>我说我这么有湿意的人，肚子里哪有什么干货。煲鸡汤也不是我擅长，万一你喝多了不仅没治病，还白长一身肥肉，岂不是要怪我。</p>
    <p>其实表妹的纠结很简单，她面前有两个选择：一个是留在北京，在一家中外合资的公司上班，年薪十几万。</p>
    <p>另一个是回到家乡，那个N线城市，有一份公务员的工作等着她，月薪3000+。</p>
    <p>单纯从数字上来看，表妹根本不用纠结，必须是选择留在北京啊。至少将来回家的时候父老乡亲问起，都会用羡慕而崇敬的眼光看着你：这女娃娃在北京，一年挣十几个万，不要太多哦！</p>
    <p>在大多数人都挣着3000+月薪的情况下，一个年薪十几万的人当然很高大上。</p>
    <p>可是这十几万的年薪，究竟能让你在北京过上什么样的生活？</p>
    <p>在四环租个一居室，破旧到不能再破旧的小区，简陋到不能再简陋的装修，至少也要两千五百块钱。</p>
    <p>当你跟父老乡亲说起你几乎用了他们一个月的工资租了一间房子时，他们怎么也想象不到，你所住的房子有多小有多破。</p>
    <p>当然，年薪会随着你的工作经历而增长，居住条件也会慢慢改善。</p>
    <p>2</p>
    <p>我认识一个前辈桃姐，博士生，在北京待了六年，换了三份工作，如今年薪已经达到三十万，在北京买了两套房子，把父母也接了过去。</p>
    <p>这在我认识的留在北京的人中是混的最好的了，人家有学历也有能力，将来还有发展的潜力，当然值得我们这些后辈膜拜。</p>
    <p>可是桃姐在北京的生活也很辛苦。</p>
    <p>她的房子是换工作之前买的，离现在的公司非常远，坐半个多小时公交车后才能到达乘坐通勤车的车站，然后还要经过近一个小时的行驶才能到达公司。</p>
    <p>遇上天气恶劣的情况，这个时间就更长了。所以桃姐在冬天的时候，基本上六点多就要出门。</p>
    <p>我问她为什么不买车，她苦笑着说，在北京买车要摇号，买了车以后还要限号，一周能开的时间没几天。再说北京有多堵你又不是不知道，与其自己开着车堵在路上直着急，还不如在通勤车上打个盹。</p>
    <p>这仅仅是住和行的方面，事实上留在在北京这样的城市生活，遇到的问题还有很多。</p>
    <p>不管挣多少钱，不管你有没有能力独自一个人生活，父母还都是真心希望你能好好找个对象，然后结婚生子。</p>
    <p>桃姐条件优秀，按理来说找个条件相当的男朋友毫不费力，可硬是在相亲的道路上奋斗了好几年。</p>
    <p>主要原因是因为工作太忙了。</p>
    <p>每天一早出门，晚上至少八点多才能到家，加班开会是经常事，公司虽然也有年假探亲假制度，可是几乎没有人提出来休。</p>
    <p>每个人都在努力工作，你总是想休假岂不是很可耻？</p>
    <p>且不说办公室没有合适又可心的对象，就是有，也不敢轻易踏进办公室恋情这个雷区。</p>
    <p>桃姐自己还好，毕竟在北京三十好几还单身的人比比皆是，可是父母们每天都着急上火，不断出入各种相亲角，甚至连去跳广场舞都带着明显的目的性。</p>
    <p>也算是功夫不负有心人，桃姐最后遇到了现在的老公。父母们了却一桩心头大事，又开始催促桃姐赶快生孩子。</p>
    <p>
        但是桃姐坚决地拒绝了，一来她还想在事业的道路上走得更远，而一旦准备要孩子，一定会休很长一段时间的假，精力和注意力也会受到影响；二来如果孩子出生，那势必面对更多的新问题。光是选择幼儿园和学校这一点就已经令人头疼。
    </p>
    <p>北京这个地方，孩子想要上一所好的学校，不是光靠有钱就可以的。可是要上不好的学校，桃姐又不甘心。</p>
    <p>所以桃姐迟迟不敢要孩子。</p>
    <p>时间久了，父母觉得失望，在大都市生活表面上看起来很光鲜，实际上不过如此，竟然连孩子都不敢生。</p>
    <p>我问过桃姐，如果当初选择一个小城市去工作生活，幸福感是否会更强烈一点。</p>
    <p>她说她倒没这么觉得。她喜欢现在这样充实而快节奏的生活，她觉得这本身就是大都市的魅力所在。要是让她在这个年纪停下来，去享受侍花弄草的慢生活，她会觉得百无聊赖。</p>
    <p>大城市的眼界毕竟与小城市不一样，也许有人会认为现在互联网这么发达，我留在小城市照样身未动心已远。</p>
    <p>可是有些东西用眼睛看和身临其境地去体会是完全不同的，所以我们宁可在小长假挤破脑袋，去别人看腻的地方去看人山人海，也不愿待在家里悠闲地翻看旅游画册。</p>
    <p>照片明明比实景还要美丽，可我们还是想亲自参与其中。</p>
    <p>这就是有些人宁愿住狭窄破旧的小房子，每天疲于奔命地去挤公交地铁，也非要留在大城市的原因。</p>
    <p>3</p>
    <p>与桃姐相比，我的同学月月正好相反。</p>
    <p>她毕业后在北京待了两个月，期间父母去看过她一次，抹着眼泪对她说，外面混得不好就赶紧回家。</p>
    <p>她没有桃姐那么高的学历，在北京找了一份月薪5000+的工作，这个薪水显然是买不起房子的，甚至想自己单独租一个一居室都很吃力。</p>
    <p>为了方便上班，她在牛街那里的一个学校租了一个床位，每个月只要几百块钱。</p>
    <p>那个地方治安不太好，她住的房间有八张床，两个月换了好几批室友。大家都是北漂，几个箱子就是自己全部家当，稳定性特别差，彼此之间也多是互相提防。</p>
    <p>床上挂个帘子就当是个人空间，就连洗手间都是公用的，因为无人打扫而特别的脏乱差。北京城的十里繁华流光溢彩似乎跟她并没有什么关系。</p>
    <p>月月有时候躲在自己小小的床上也特别不理解，自己为什么要留在这里吃这样的苦。</p>
    <p>帝都居，大不易。这样没有安全感的生活，不仅剥夺了她的幸福感，更从心理上给了她狠狠一击。</p>
    <p>上大学时的踌躇满志、毕业时的豪情壮志，全都被这两个月颠沛流离的生活给消磨殆尽，所剩下的，只是对自己深深的怀疑。</p>
    <p>正好家乡招公务员，月月毫不犹豫地回去了。</p>
    <p>她现在住在一百多平米的房子里，距离自己工作的地方走路只用十分钟，工作很清闲。她老公是她的小学同学，同她一样有一份清闲的工作，两个人有的是时间出去游山玩水。</p>
    <p>她提起在北京的那段时光，至今还在庆幸自己及时回来，没有将青春都浪费在疲于奔命之中。</p>
    <p>她想要的就是眼前这种小确幸，而这份小确幸获得的成本要比在北京低得多。</p>
    <p>可是回小城市同样有个问题，她在今后的几十年里，可能会一直做着同一份工作，每天重复着相同的路线。保持这种状态，没有变化、也没有挑战。</p>
    <p>我不知道她在许多年后回首看来，会不会因为自己年轻时没有去放手一搏而感到后悔；当她看到当年一起北漂过的姑娘们，将自己打扮成如女王般精致，出现在某一个电视节目上接受采访时，会不会为自己的半途而废感到遗憾。</p>
    <p>人常常都会不自觉地犯一个错误，看得到面前的风光，看不见背后的沧桑。</p>
    <p>就发展机遇而言，小城市当然和北京无法比。如果那些北漂当年都选择了回家乡去享福，那么如今的荧幕上，会少了一大批耳熟能详的面孔。如今的富豪榜上，也会少了很多个赫赫有名的人物。</p>
    <p>但是每个人的性格和生长轨迹都不相同，判定成功与否的标准也不相同。</p>
    <p>有人想要的是身居高位受人敬仰，有人想要的是银行卡里一长串的数字，有人想要的是安逸闲适的生活。</p>
    <p>所以我无法用既定的经验告诉表妹该如何去选择，我也不希望她听了谁的片面之词就失去了自己做决定的自由。人生路始终要自己走过，才能不留遗憾。我只能将两种选择可能遇到的后果分析给她，让她自己选择。</p>
    <p>选择本身没有什么对错，但你得知道你想要什么样的生活，适合什么样的生活。毕竟人生只有一次，不管是进取的还是安逸的，只要你自己喜欢就好。</p>
</div>

<div>
    文章版权属于文章作者所有，转载请注明：<a rel="bookmark" title=" 该去北上广哭，还是回小城市笑 " href=" http://yispace.net/42805.html ">http://yispace.net/42805.html</a>
</div>

<div style="margin:10px 0;">
    标签：<a href="http://yispace.net/tag/%e4%ba%ba%e7%94%9f%e6%84%9f%e6%82%9f" rel="tag">人生感悟</a>,
    <a href="http://yispace.net/tag/%e4%bb%b7%e5%80%bc%e8%a7%82" rel="tag">价值观</a>, <a href="http://yispace.net/tag/%e7%8e%b0%e5%ae%9e%e7%94%9f%e6%b4%bb" rel="tag">现实生活</a> &nbsp;&nbsp;&nbsp;&nbsp;标题：<a href="http://yispace.net/42805.html" title="该去北上广哭，还是回小城市笑">该去北上广哭，还是回小城市笑</a>
</div>

<div>
    <strong>上一篇：</strong>
    <a class="prev-post icon-right" href="http://yispace.net/42797.html">
        那些越想炫耀自己的人，往往生活过得越糟糕
    </a>
</div>

<div style="margin:10px 0;">
    <strong>下一篇：</strong>
    <a class="next-post" href="javascript:alert('你正在看的文章已经是最新的了...');">
        木有啦
    </a>
</div>

<!-- 分享代码 -->
<div class="baidufenxiang" style="overflow:auto;">
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">

    </div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=53164"></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
    </script>
    <!-- Baidu Button END -->
</div>

<!-- 广告代码1 -->
<!-- 百度推荐 -->
<div style="margin-left: -12px; margin-bottom: -3px;">
    <script>document.write(unescape('%3Cdiv id="hm_t_61751"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://crs.baidu.com/t.js?siteId=99c2c06a529fc4c8787deb597141fe76&planId=61751&async=0&referer=') + encodeURIComponent(document.referrer) + '&title=' + encodeURIComponent(document.title) + '&rnd=' + (+new Date) + unescape('"%3E%3C/script%3E'));</script>
</div>